/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
        -fx-background-color:linear-gradient(from 25% 25% to 100% 100%, #9d14dc, #005eff);

}
.gmail{
    -fx-background-color:tomato;
}
.card{
    -fx-background-color:white;
    -fx-border-radius:25px;
    -fx-background-radius:25px;
}
/*.fb{
    -fx-background-img:url("C:\Users\Emna\Pictures\presntation-imagex\figure1.png");
}*/